@import url(../../vendor/normalize.css);
@import url(../rotation/rotation.css);
@import url(../header/header.css);
@import url(../logo/logo.css);
@import url(../description/description.css);
@import url(../two-columns/two-columns.css);
@import url(../techniques/techniques.css);
@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../cards/cards.css);
@import url(../video/video.css);
@import url(../oakley/oakley.css);
@import url(../feinman/feinman.css);
@import url(../digits/digits.css);
@import url(../table/table.css);
@import url(../kaufman/kaufman.css);
@import url(../khan/khan.css);
@import url(../resources/resources.css);
@import url(../footer/footer.css);

/*Структуру вроде поправил и надеюсь все по бэму, к сожалению,
в слаке в обусждениях проекта с этим моментом никто особо не помог.*/

.page {
  color: #000;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0 auto;
  max-width: 1600px;
  min-width: 1100px;
}
